body   {  
    background: #FDFDFF;
    color: #62929E;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    margin-top: 60px;
    margin-left: 60px;
}

h3 {
    margin-top: 30px;
    margin-left: 70px;
}

h4 {
    margin-top: 70px;
    margin-left: 70px;
}

.socials {
    margin-left: 62.5px;
    display: space-between;
}

.socials a {
    padding: 5px;
}

.tabs {
    display: flex;
    
}
a {
    color: #62929E;

}
  a:link {
    text-decoration: none;
    color: #62929E;
    font-family: 'Quicksand', sans-serif;
  }
    